* {
  list-style-type: none;
  
}
.analytics-container {
  background-color: #4f4557;
  min-height: 100vh;
}
.progress-bar,
.alt-progress-bar {
  width: 20rem;
  height: 2rem;
  border: 1px solid purple;
  background-color: #fff;
  margin: 0 1rem;
}
.progress,
.alt-progress {
  height: 2rem;
  background-color: rgba(128, 0, 128, 0.849);
  width: 0%;
}
.needItem {
  display: flex;
  align-items: center;
}
.funded {
  display: flex;
}

.main {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  color: #f4eee0;
}
.fundedContainer {
  padding: 0.5rem 2rem;
  background-color: #393646;
  margin: 5px;
  border-radius: 10px;
  height: fit-content;
  justify-content: right;
}
.btn {
  background-color: #6d5d6e;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1rem;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem 0.4rem 0.25rem 0.4rem;
  margin: 0 1rem;
  color: #f4eee0;
}
