<div class="homeWrapper">
  <div id="header">
    <h1>Animal Auxiliaries</h1>
    <h2>Helping the Voiceless</h2>
  </div>

  <div class="grid">
    <div class="box" style="grid-column: 1">
      <div>
        <h2>Login</h2>
        <form (submit)="login()">
          <label>Username:</label>
          <input type="text" id="username" name="username" required #username />
          <label>Password: </label>
          <input
            type="password"
            id="password"
            name="password"
            required
            #password
          />
          <button type="submit">Login</button>
          <button type="submit" (click)="add(username.value, password.value)">
            Register
          </button>
        </form>
      </div>
      <section style="padding-top: 1rem">
        <h2>Our Impact</h2>
        <p>We've helped ### Animals so far!</p>
      </section>
    </div>

    <div class="box" style="grid-column: 2">
      <h2>Our Mission</h2>
      <p>
        We are the Animal Auxiliaries! Dedicated to connecting people and
        animals. We connect to a local animal shelter so people like you can
        donate much needed supplies. Ready to join us? Sign up today!
      </p>
    </div>

    <div class="box" style="grid-column: 3">
      <h1>Recent Announcements</h1>
      <p>Community Board Posts</p>
    </div>
  </div>
</div>
