body {
  width: 100vw;
  height: 100vh;
  padding-bottom: 2%;
  background: #644b68;
}

h1 {
  color: #422527;
  font-family: Poppins;
  font-weight: bolder;
}

h2 {
  color: #422527;
  font-family: Poppins;
  font-weight: bold;
}

p {
  color: #604967;
  font-family: Poppins;
  font-size: 20px;
}

.box {
  background-color: #cdbed1;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 3rem;
  height: 60vh;
}

#header {
  padding: 2%;
  text-align: center;
  background-color: #b09db3;
}
.col {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: Poppins;
  src: url("../../../data/Poppins-Regular.woff") format("woff");
}
.mission {
  display: grid;
  place-items: center;
}
