body {
    background-color: #FFFFFF;
    width: 100%;
  }
  
h1 {
    color: #52050A;
    font-family: Georgia;
}
  
p {
    color: #495867;
    font-family: verdana;
    font-size: 20px;
}

div {
    display: flexbox;
    text-align: center;
    border: 2px solid black;
}

main{
    flex: 1;
    margin-top: 2%;
    padding: 20px;
    order: 2;
    border: 4px solid black;
    background-color: #777f88;
}

aside{
    padding: 3%;
    margin: 5%;
    border: 4px solid black;
    max-width: 20%;
}

.box {
    margin: 5%;
    padding: 3%;
}

#container{
    margin: 0 auto;
}

#flex {
    display: flex;
}

#leftSidebar {
    padding: 10px;
    order: 1;
    background-color: #777f88;
}

#rightSidebar {
    padding: 10px;
    order: 3;
    background-color: #777f88;
}

#header {
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    height: 15%;
    background-color: #777f88;
}