<h4>Search</h4>
<div id="search-component">
  <label for="search-box">Need Search</label>
  <input #searchBox class="search-box" (input)="search(searchBox.value)" />

  <div *ngIf="searchBox.value == ''; else searchNeeds" id="need-format">
    <div *ngFor="let need of currentNeeds">
      <h2 class="badge">{{ need.name }}</h2>
      <h4 class="badge">Description: {{ need.description }}</h4>
      <h4 class="badge">Price: ${{ need.price }}</h4>
      <h4 class="badge">Quantity: {{ need.quantity }}</h4>
      <button (click)="addToBasket(need)" class="greenBtn">Add to Basket</button>
    </div>
  </div>
  <ng-template #searchNeeds>
    <div *ngFor="let need of needs$ | async" id="need-format">
      <h2 class="badge" >{{ need.name }}</h2>
      <h4 class="badge">Description: {{ need.description }}</h4>
      <h4 class="badge">Price: ${{ need.price }}</h4>
      <h4 class="badge">Quantity: {{ need.quantity }}</h4>
      <button (click)="addToBasket(need)" class="greenBtn">Add to Basket</button>
    </div>
  </ng-template>
</div>
