<h4>Search</h4>
<div id="search-component">
  <label for="search-box">Need Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <div *ngIf="searchBox.value == ''; else searchNeeds">
    <div *ngFor="let need of currentNeeds">
      <h2 class="badge">Name: {{ need.name }}</h2>
      <h4 class="badge">Description: {{ need.description }}</h4>
      <h4 class="badge">Price: ${{ need.price }}</h4>
      <h4 class="badge">Quantity: {{ need.quantity }}</h4>
      <button (click)="addToBasket(need)">+</button>
    </div>
  </div>
  <ng-template #searchNeeds>
    <div *ngFor="let need of needs$ | async">
      <h2 class="badge">Name: {{ need.name }}</h2>
      <h4 class="badge">Description: {{ need.description }}</h4>
      <h4 class="badge">Price: ${{ need.price }}</h4>
      <h4 class="badge">Quantity: {{ need.quantity }}</h4>
      <button (click)="addToBasket(need)">+</button>
    </div>
  </ng-template>

  <h4>Basket</h4>
  <ul class="funding-basket">
    <div *ngFor="let need of basket">
      <h1 class="badge">Name: {{ need.name }}</h1>
      <h4 class="badge">Description: {{ need.description }}</h4>
      <h4 class="badge">Price: ${{ need.price }}</h4>
      <h4 class="badge">Quantity: {{ need.quantity }}</h4>
      <button (click)="removeFromBasket(need)">-</button>
    </div>
  </ul>
</div>
