<button (click)="logout()">Logout</button>
<h2>My Needs</h2>
<div>
  <label for="new-need">Need Name: </label>
  <input #needName />
  <label for="new-need">Need Description: </label>
  <input #needDesc />
  <label for="new-need">Need Type: </label>
  <input #needType />
  <label for="new-need">Need Price: </label>
  <input value="5" type="number" #needPrice />
  <label for="new-need">Need Quantity: </label>
  <input value="5" type="number" #needQuant />
  <button
    type="button"
    class="add-button"
    (click)="
      add(
        needName.value,
        needDesc.value,
        needType.value,
        needPrice.value,
        needQuant.value
      );
      needName.value = '';
      needDesc.value = '';
      needType.value = '';
      needPrice.value = '5';
      needQuant.value = '5'
    "
  >
    Add need
  </button>
</div>

<ul class="needs">
  <li *ngFor="let need of needs">
    <a routerLink="/manager/{{ need.id }} ">
      <span class="badge"></span> {{ need.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete need"
      (click)="delete(need)"
    >
      X
    </button>
  </li>
</ul>
