<div class="adoption-wrapper">
  <div class="nav-wrapper"><app-nav></app-nav></div>
  <div class="animals-wrapper">
    <div *ngFor="let animal of animals">
      <div
        class="animal-container"
        [ngStyle]="{ opacity: animal.isAdopted ? '0.5' : '1' }"
      >
        <h3>{{ animal.name }} - {{ animal.species }}</h3>
        <h3 class="description">{{ animal.description }}</h3>

        <img
          src="{{ animal.image }}"
          style="max-width: 200px"
          alt="{{ animal.name }}"
        />
        <button class="greenBtn adoptionBtn" (click)="adoptionConfirm = animal">
          Adopt
        </button>
        <div class="modal-container" *ngIf="adoptionConfirm === animal">
          <div class="modal">
            <div class="modal-header">
              You are submitting a request to adopt an animal: {{ animal.name }}
            </div>
            <p class="modal-desc">
              Press yes if you would like to be further contacted about the
              adoption process.
            </p>

            <div class="modal-btns">
              <button
                class="greenBtn close-button"
                (click)="holdConfirm = animal"
              >
                Yes
              </button>
              <button
                class="deleteBtn close-button"
                (click)="adoptionConfirm = null"
              >
                No
              </button>
            </div>
          </div>
        </div>

        <div class="modal-container" *ngIf="holdConfirm === animal">
          <div class="modal">
            <div class="modal-header">
              Thank you for considering being a forever home!
            </div>
            <p class="modal-desc">
              Be on the lookout for further communication about the adoption
              process for {{ animal.name }}. They will be placed on a temporary
              hold
            </p>

            <div class="modal-btns" style="justify-content: center">
              <button class="greenBtn close-button" (click)="adopt(animal)">
                Okay!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
