<div class="adoption-wrapper">
  <div class="nav-wrapper"><app-nav></app-nav></div>
  <div class="animals-wrapper">
    <div *ngFor="let animal of animals">
      <div
        class="animal-container"
        [ngStyle]="{ opacity: animal.isAdopted ? '0.5' : '1' }"
      >
        <h3>{{ animal.name }} - {{ animal.species }}</h3>
        <h3 class="description">{{ animal.description }}</h3>

        <img
          src="{{ animal.image }}"
          style="max-width: 200px"
          alt="{{ animal.name }}"
        />
        <button
          class="adoption"
          [disabled]="animal.isAdopted"
          (click)="adopt(animal)"
        >
          Adopt
        </button>
      </div>
    </div>
  </div>
</div>
