.adoption-wrapper {
  min-height: 100vh;
  background-color: #4f4557;
}
.nav-wrapper {
  background-color: #393646;
}
.animal-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 33.3333%;
  max-width: 200px;

  padding-top: 2rem;
}
.animals-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  gap: 2rem;
  margin: auto;
  align-items: center;
}
.animal-container > h3 {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  cursor: pointer;
}
.animal-container > button {
  margin-top: 0.2rem;
  width: 100%;
}
.toggle-elip {
  overflow: visible !important;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.modal-desc {
  padding: 1rem 2rem;
  font-weight: bold;
}
.modal-btns {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  padding: 1rem 0;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #6d5d6e;
  width: 500px;
  max-width: 80%;
  display: block;
}
.modal-header {
  padding: 10px 15px;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.btn-font {
  font-size: 25px;
}

.btn {
  display: grid;
  margin: auto;
  background-color: #6d5d6e;
  border-radius: 5px;
  border-width: 1px;
  size: 5px;
  color: black;
  transition: all 0.2s ease-in-out;
  margin-top: 0.75rem;
  padding: 0.2rem 0.25rem 0.2rem 0.25rem;
}

.btn {
  background-color: #6d5d6e;
  border-radius: 5px;
  border-width: 1px;
  font-size: 1rem;
  color: black;
  transition: all 0.2s ease-in-out;
  padding: 0.25rem 0.4rem 0.25rem 0.4rem;
  margin: 0 1rem;
}
.btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.navbtn:hover,
.btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.deleteBtn {
  margin-left: 2rem;
  color: #eee;
  width: 100px;
  height: 30px;
  background: linear-gradient(
    to right,
    rgb(214, 39, 39) 50%,
    rgb(129, 3, 3) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  border: 1px solid black;
  border-radius: 3px;
}
.greenBtn {
  color: #eee;
  width: 100px;
  height: 30px;
  background: linear-gradient(
    to right,
    rgb(74, 214, 39) 50%,
    rgb(3, 129, 51) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  border: 1px solid black;
  border-radius: 3px;
}
.deleteBtn:hover,
.greenBtn:hover {
  background-position: left bottom;
  transform: scale(1.05);
}
.noHover:hover {
  transform: none;
}
